<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper"  [ngClass]="status ? 'hide' : 'show'">
    <div class="sidebar-heading">Dashbord </div>
    <div class="list-group list-group-flush">
      <a href="#" [ngClass]="{'active' : activate=='btn1'}" (click)="click('btn1')" routerLink="/chart1" class="list-group-item list-group-item-action ">Top journaux</a>
      <a href="#" [ngClass]="{'active' : activate=='btn2'}" (click)="click('btn2')" routerLink="/chart2" class="list-group-item list-group-item-action ">Nombre d'article par année</a>
      <a href="#" [ngClass]="{'active' : activate=='btn3'}" (click)="click('btn3')" routerLink="/chart3" class="list-group-item list-group-item-action ">Collaborations</a>
      <a href="#" [ngClass]="{'active' : activate=='btn4'}" (click)="click('btn4')" routerLink="/chart4" class="list-group-item list-group-item-action ">Top Pays</a>
      <a href="#" [ngClass]="{'active' : activate=='btn6'}" (click)="click('btn6')" routerLink="/chart5" class="list-group-item list-group-item-action ">Nombre Q1 par Pays</a>
   
      <a href="#" [ngClass]="{'active' : activate=='btn5'}" (click)="click('btn5')" routerLink="/map" class="list-group-item list-group-item-action ">MAP</a>
      <!-- <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Status</a> -->
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
     
      <div class="container-fluid">
        <button class="btn btn-primary" (click)="clickEvent()">Toggle Menu</button>


      </div>
    </nav>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
